@{
    ViewData["Title"] = "Protection de la vie privée";
}
<h1>Notre politique dans ce domaine</h1>

<p>Notre firme applique les standards les plus stricts par rapport à la protection de votre patrimoine et des informations afférentes.</p>