@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProjetAgenda.Models.Broker
@{
    ViewData["Title"] = "Ajout d'un nouveau collaborateur";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formFields = ViewData["Dump"] as Broker;
}

<h4>Notre nouveau colaborateur :</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddBroker" method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <span>Informations personnelles :</span>
                <!-- Nom de famille -->
                <div class="form-group">
                    <label asp-for="Lastname" class="control-label"></label>
                    <input asp-for="Lastname" class="form-control" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>

                <!-- Prénom -->
                <div class="form-group">
                    <label asp-for="Firstname" class="control-label"></label>
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>

                <span>Communication :</span>
                <!-- Email -->
                <div class="form-group">
                    <label asp-for="Mail" class="control-label"></label>
                    <input asp-for="Mail" class="form-control" type="email" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>

                <!-- Téléphone -->
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" type="tel" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <!-- Décision -->
                <span>Décision :</span>
                <div class="form-group">
                    <input type="submit" value="Créer" class="btn btn-primary" id="input_creer" />
                    <input type="reset" value="Vider les champs" class="btn btn-danger" id="input_reset" />
                </div>
            </form>
        </div>
    </div>